## Pulling LAT/LONG from google API

In [1]:
import pandas as pd
from geopy.geocoders import GoogleV3

In [2]:
# Create a geocoder instance
geolocator = GoogleV3(api_key='AIzaSyDSOG9YGnJC8qLtvb-rDnDNgn2zRoJ93so')

In [3]:
data = pd.read_excel('/Volumes/T7/Career/School/MSADSB/BTA 520/housing_normal.xlsx')

In [4]:
# Define functions to get latitude and longitude
def get_latitude(zipcode):
    location = geolocator.geocode(zipcode)
    return location.latitude if location else None

def get_longitude(zipcode):
    location = geolocator.geocode(zipcode)
    return location.longitude if location else None

In [6]:
# Add latitude and longitude columns to the DataFrame
data['latitude'] = data['zipcode'].apply(get_latitude)
data['longitude'] = data['zipcode'].apply(get_longitude)

In [8]:
data.head()

,zipcode,price,lastSoldPrice,homeStatus,yearBuilt,bathrooms,bedrooms,daysOnZillow,zestimate,homeType,resoFacts/roofType,lastSoldPrice.1,livingArea,priceHistory/1/price,propertyTaxRate,cluster,latitude,longitude
0,97024,315400,315400,RECENTLY_SOLD,2007,3.0,3,25,317406,TOWNHOUSE,Shake / Shingle,315400,1806,212000,1.12,2,45.553912,-122.446361
1,97080,512000,512000,RECENTLY_SOLD,1982,3.0,4,11,512355,SINGLE_FAMILY,Composition,512000,2724,479000,1.12,1,45.484172,-122.384875
2,97080,404200,404200,RECENTLY_SOLD,1967,2.0,3,14,397479,SINGLE_FAMILY,Composition,404200,1150,204500,1.12,2,45.484172,-122.384875
3,97030,478200,478200,RECENTLY_SOLD,1978,2.0,3,25,481241,SINGLE_FAMILY,Other,478200,2036,265000,1.12,2,45.514098,-122.422870
4,97080,530000,530000,RECENTLY_SOLD,2018,2.0,4,26,532813,SINGLE_FAMILY,Composition,530000,1947,480000,1.12,2,45.484172,-122.384875

In [9]:
data.to_excel('housing_normal_2.xlsx')